In [1]:
import pandas as pd
import numpy as np
import lifetime
import matplotlib.pyplot as plt

In [2]:
customers = pd.read_csv(r"data/olist_customers_dataset.csv")
orders = pd.read_csv(r"data/olist_orders_dataset.csv")
payments = pd.read_csv(r"data/olist_order_payments_dataset.csv")
orders_items = pd.read_csv(r"data/olist_order_items_dataset.csv")

In [3]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
orders_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

<h3 style="background-color: lightblue; padding: 10px;">
    Knowing the data
</h3>

In [8]:
customers.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

<h6>
   <li>Lets check the number of unique values,</li> 
   <li> number of missing data,</li>
   <li>biggest category counts,</li> 
   <li>data type</li>
</h6>

In [50]:
def get_status(data):
    stat=[]
    for col in data.columns:
        stat.append([col,data[col].nunique(),data[col].isnull().sum()*100/customers.shape[0],data[col].value_counts(normalize=True,dropna=False).values[0]*100,data[col].dtype])
    return pd.DataFrame(stat,columns=["features","uniue","missing","category_count","data type"])

<h3 style="background-color: lightblue; padding: 10px;">
    Customer Data Status
</h3>

In [51]:
get_status(customers)

                   features  uniue  missing  category_count data type
0               customer_id  99441      0.0        0.001006    object
1        customer_unique_id  96096      0.0        0.017096    object
2  customer_zip_code_prefix  14994      0.0        0.142798     int64
3             customer_city   4119      0.0       15.627357    object
4            customer_state     27      0.0       41.980672    object

In [11]:
customers["customer_state"].value_counts(normalize=True,dropna=True).head()

customer_state
SP    0.419807
RJ    0.129242
MG    0.117004
RS    0.054967
PR    0.050734
Name: proportion, dtype: float64

<h3 style="background-color: lightblue; padding: 10px;">
    Payments Data Status
</h3>

In [52]:
get_status(payments)

               features  uniue  missing  category_count data type
0              order_id  99440      0.0        0.027915    object
1    payment_sequential     29      0.0       95.643301     int64
2          payment_type      5      0.0       73.922376    object
3  payment_installments     24      0.0       50.580444     int64
4         payment_value  29077      0.0        0.311880   float64

In [54]:
payments["payment_type"].value_counts(normalize=True,dropna=True)

payment_type
credit_card    0.739224
boleto         0.190440
voucher        0.055590
debit_card     0.014718
not_defined    0.000029
Name: proportion, dtype: float64

In [56]:
payments["payment_installments"].value_counts(normalize=True,dropna=True).head()

payment_installments
1     0.505804
2     0.119487
3     0.100697
4     0.068325
10    0.051287
Name: proportion, dtype: float64

5 types of payments are there


here 73 percentage of them using credit card payment

having 50 per centage having 1st installment

<h3 style="background-color: lightblue; padding: 10px;">
    Orders Data Status
</h3>

In [57]:
get_status(orders)

                        features  uniue   missing  category_count data type
0                       order_id  99441  0.000000        0.001006    object
1                    customer_id  99441  0.000000        0.001006    object
2                   order_status      8  0.000000       97.020344    object
3       order_purchase_timestamp  98875  0.000000        0.003017    object
4              order_approved_at  90733  0.160899        0.160899    object
5   order_delivered_carrier_date  81018  1.793023        1.793023    object
6  order_delivered_customer_date  95664  2.981668        2.981668    object
7  order_estimated_delivery_date    459  0.000000        0.524934    object

In [60]:
orders["order_status"].value_counts(normalize=True,dropna=True)

order_status
delivered      0.970203
shipped        0.011132
canceled       0.006285
unavailable    0.006124
invoiced       0.003158
processing     0.003027
created        0.000050
approved       0.000020
Name: proportion, dtype: float64

few values are missing,97 percentage order are delivered,few of the status are unavilable

<h3 style="background-color: lightblue; padding: 10px;">
    orders_items Data Status
</h3>

In [63]:
get_status(orders_items)

              features  uniue  missing  category_count data type
0             order_id  98666      0.0        0.018642    object
1        order_item_id     21      0.0       87.586329     int64
2           product_id  32951      0.0        0.467821    object
3            seller_id   3095      0.0        1.804705    object
4  shipping_limit_date  93318      0.0        0.018642    object
5                price   5968      0.0        2.202397   float64
6        freight_value   6999      0.0        3.290723   float64

In [64]:
orders_items["order_item_id"].value_counts(normalize=True,dropna=True)

order_item_id
1     0.875863
2     0.087022
3     0.020302
4     0.008566
5     0.004083
6     0.002273
7     0.000515
8     0.000320
9     0.000249
10    0.000222
11    0.000151
12    0.000115
13    0.000071
14    0.000062
15    0.000044
16    0.000027
17    0.000027
18    0.000027
19    0.000027
20    0.000027
21    0.000009
Name: proportion, dtype: float64

lots order but fewer items

87% one category is dominated

<h3 style="background-color: lightblue; padding: 10px;">
    Data Preprocessing
</h3>

In [68]:
df1=payments.merge(orders,on="order_id")
df2=df1.merge(orders_items,on="order_id")
df=customers.merge(df2,on="customer_id")

In [72]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,payment_sequential,payment_type,payment_installments,payment_value,...,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,credit_card,2,146.87,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,1,credit_card,8,335.48,...,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,1,credit_card,7,157.73,...,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,1,credit_card,1,173.30,...,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,1,credit_card,8,252.25,...,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25

In [77]:
df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

<h5 style="background-color: #e8f0fe; padding: 8px;">
    Creating new columns/Feature Engineering
</h5>

In [85]:
df["order_estimated_delivery_date"]=pd.to_datetime(df["order_estimated_delivery_date"])
df["order_delivered_customer_date"]=pd.to_datetime(df["order_delivered_customer_date"])
df['order_purchase_timestamp']=pd.to_datetime(df['order_purchase_timestamp'])
df['order_delivered_carrier_date']=pd.to_datetime(df['order_delivered_carrier_date'])
df["'shipping_limit_date'"]=pd.to_datetime(df['shipping_limit_date'])

In [86]:
df["delivery_against_estimated"]=(df["order_estimated_delivery_date"]-df["order_delivered_customer_date"]).dt.days
df["order_purchase_year"]=df['order_purchase_timestamp'].apply(lambda x:x.year)
df["order_purchase_month"]=df['order_purchase_timestamp'].apply(lambda x:x.month)
df["dayofweek"]=df['order_purchase_timestamp'].apply(lambda x:x.dayofweek)
df["day"]=df["dayofweek"].map({0:"Mon",1:"Tue",2:"Wed",3:"Thurs",4:"Fri",5:"Sat",6:"Sun"})
df["order_purchase_hour"]=df['order_purchase_timestamp'].apply(lambda x:x.hour)
df["order_purchase_mon"]=df["order_purchase_mon"] = df["order_purchase_month"].map({
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "Jun",
    7: "Jul",
    8: "Aug",
    9: "Sep",
    10: "Oct",
    11: "Nov",
    12: "Dec"
})

In [88]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,payment_sequential,payment_type,payment_installments,payment_value,...,price,freight_value,'shipping_limit_date',delivery_against_estimated,order_purchase_year,order_purchase_month,dayofweek,day,order_purchase_hour,order_purchase_mon
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,credit_card,2,146.87,...,124.99,21.88,2017-05-22 15:22:12,13,2017,5,1,Tue,15,May
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,1,credit_card,8,335.48,...,289.00,46.48,2018-01-18 20:58:32,18,2018,1,4,Fri,20,Jan
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,1,credit_card,7,157.73,...,139.94,17.79,2018-06-05 16:19:10,7,2018,5,5,Sat,16,May
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,1,credit_card,1,173.30,...,149.94,23.36,2018-03-27 16:31:16,13,2018,3,1,Tue,16,Mar
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,1,credit_card,8,252.25,...,230.00,22.25,2018-07-31 10:10:09,14,2018,7,6,Sun,9,Jul